<table class="table table-bordered table-striped">
  <tr>
    <td class="col-sm-5 form-inline" >
      <%= form_for '', method: 'get' do |f|%>
        <%= text_field_tag :name, params[:name] , placeholder: '输入姓名查询如:小王', :class=>"form-control"%>
        <%= f.submit '搜索', class: 'btn btn-primary form-control'%>
      <% end %>
    </td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">买家姓名</th>
      <th class="text-center">设计师</th>
      <th class="text-center">下单时间</th>
      <th class="text-center">订单状态</th>
      <th class="text-center" colspan="4">操作</th>
    </tr>
    <% @admin_orders.each do |order| %>
      <tr id="<%= order.id %>">
        <td class="text-center"><%= order.id %></td>
        <td class="text-center"><%= order.user.name %></td>
        <td class="text-center"><%= order.designer.name %></td>
        <td class="text-center"><%= order.created_at.to_date %></td>
        <td class="text-center"><%= order.paid %></td>
        <td class="text-center">
          <%= link_to '联系',{:action=>'lianxi', :id=>order.id, :page=>params[:page]}, :class => 'btn btn-default' %>
          <%= link_to '发货',{:action=>'fahuo', :id=>order.id, :page=>params[:page]}, :class => 'btn btn-default' %>
          <%= link_to '完成',{:action=>'wancheng', :id=>order.id, :page=>params[:page]}, :class => 'btn btn-default' %></td>
        <td class="text-center">
          <%= link_to '显示详情',{:action=>'zhanshi', :id=>order.id, :page=>params[:page]}, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination center">
  <%= paginate @admin_orders %>
</div>
