<table class="table table-bordered table-striped">
  <tr>
    <td class="col-sm-5 form-inline" >
      <%= form_for '', method: 'get' do |f|%>
        <%= text_field_tag :email, params[:email] , placeholder: '输入邮箱查询', :class=>"form-control"%>
        <%= text_field_tag :name, params[:name] , placeholder: '输入姓名查询', :class=>"form-control"%>
        <%= f.submit '搜索', class: 'btn btn-primary form-control'%>
      <% end %>
    </td>
    <td class="text-right col-sm-5"><%= link_to '添加', new_admin_designers_path, :class=>"btn btn-primary" %></td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">姓名</th>
      <th class="text-center">头像</th>
      <th class="text-center">性别</th>
      <th class="text-center">电话</th>
      <th class="text-center">描述</th>
      <th class="text-center">创建时间</th>
      <th class="text-center" colspan="3">操作</th>
    </tr>
    <% @admin_designers.each do |designer| %>
      <tr>
        <td class="text-center"><%= designer.id %></td>
        <td class="text-center"><%= designer.name %></td>
        <td class="text-center"><img src="<%= designer.logo%>" class="image" ></td>
        <td class="text-center"><%= designer.sex %></td>
        <td class="text-center"><%= designer.mobilephone %></td>
        <td class="text-center"><%= truncate designer.description, :length=>200 %></td>
        <td class="text-center"><%= designer.created_at.to_date %></td>
        <td class="text-center">
          <%= link_to '编辑',{:action=>'edit', :id=>designer.id, :page=>params[:page]}, :class => 'btn btn-default' %></td>
        <td class="text-center"> <%= link_to '删除',
                      {:action=>'shanchu', :id=>designer.id},
                      :data => { :confirm => '你确定删除?' },
                      :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination center">
  <%= paginate @admin_designers %>
</div>
