<table class="table table-bordered table-striped">
  <tr>
    <td class="col-sm-5 form-inline" >
      <%= form_for '', method: 'get' do |f|%>
        <%= text_field_tag :email, params[:mobilephone] , placeholder: '输入手机号查询如:18888888888', :class=>"form-control"%>
        <%= text_field_tag :name, params[:name] , placeholder: '输入姓名查询如:小王', :class=>"form-control"%>
        <%= f.submit '搜索', class: 'btn btn-primary form-control'%>
      <% end %>
    </td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">姓名</th>
      <th class="text-center">电话</th>
      <th class="text-center">邮箱</th>
      <th class="text-center">创建时间</th>
      <th class="text-center" colspan="2">操作</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.id %></td>
        <td class="text-center"><%= user.name %></td>
        <td class="text-center"><%= user.mobilephone %></td>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center"><%= user.created_at.to_date %></td>
        <td class="text-center">
          <%= link_to '查看详情',{:action=>'zhanshi', :id=>user.id, :page=>params[:page]}, :class => 'btn btn-default' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination center">
  <%= paginate @users %>
</div>
