<%= form_for @video, url: "/admin/videos", :html => { :class => "form-horizontal video" } do |f| %>
    <% if @video.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@video.errors.count, "error") %> 表单提交错误</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
  <tr>
    <td class="text-right"><label for="admin_admin_name">名称:</label></td>
    <td><%= f.text_field :name, :class => 'form-control' %></td>
    <%= hidden_field_tag :id, "#{@video.id}"%>
  </tr>
  <tr>
    <td class="text-right"><label for="admin_admin_name">封面图:</label></td>
    <td><%= f.file_field :logo, :class => 'form-control' %></td>
  <tr>
  <tr>
    <td class="text-right"><label for="admin_admin_name">链接:</label></td>
    <td><%= f.text_field :url, :class => 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-center actions" colspan=2>
      <%= f.submit "提交", :class => 'btn btn-primary mr20' %>
      <%= link_to '取消', admin_videos_path, :class => 'btn btn-default' %>
    </td>
  </tr>
</table>
<% end %>
<script>
  $(function() {
    $("form").validate({
      rules: {
        "admin_video[name]": "required",
        "admin_video[url]": {
          required: true,
        }
      },
      messages: {
        "admin_video[name]": "请输入名称",
        "admin_video[url]": {
          required: "请输入视频地址",
        }
      }
    });
  });
</script>
